In [6]:
from sqlalchemy.orm import sessionmaker
from models import engine, Tevas, Vaikas

session = sessionmaker(engine)()

In [19]:
naujas_tevas = Tevas(vardas="Kietas", pavarde="Vyras")
naujas_vaikas = Vaikas(
    vardas="Sustras", 
    pavarde="Vyras", 
    tevas=naujas_tevas,
    mokymo_istaiga="CodeAcademy",
)
session.add(naujas_tevas)
session.add(naujas_vaikas)
session.commit()

In [43]:
from pprint import pprint
vaikai = session.query(Vaikas).all()
pprint(vaikai)

[(9, Gudrus, Vaikis, (7, Rimtas, Vaikis)),
 (10, Smagi, Vaikyte, (1, Kietas, Vyras)),
 (11, Sustras, Vyras, (8, Kietas, Vyras)),
 (12, Gudrus, Vaikis, (9, Rimtas, Vaikis)),
 (13, Smagi, Vaikyte, (9, Rimtas, Vaikis))]

In [21]:
vaikai[1].tevas = session.query(Tevas).get(1)
session.commit()
vaikai

[(9, Gudrus, Vaikis, (7, Rimtas, Vaikis)), (10, Smagi, Vaikyte, (1, Kietas, Vyras)), (11, Sustras, Vyras, (8, Kietas, Vyras))]

In [44]:
tevas = session.query(Tevas).get(7)
tevas

(7, Rimtas, Vaikis)

In [25]:
tevas.vaikai

[(9, Gudrus, Vaikis, (7, Rimtas, Vaikis))]

In [26]:
sunelis = Vaikas(vardas="Gudrus", pavarde="Vaikis")
dukrele = Vaikas(vardas="Smagi", pavarde="Vaikyte")
tevas = Tevas(vardas="Rimtas", pavarde="Vaikis")
tevas.vaikai.append(sunelis)
tevas.vaikai.append(dukrele)
session.add(tevas)
session.commit()

In [27]:
tevai = session.query(Tevas).all()
for tevas in tevai:
    print('tevas: ', tevas, "\nvaikai: ")
    pprint(tevas.vaikai)

tevas:  (1, Kietas, Vyras)
vaikai:
[(10, Smagi, Vaikyte, (1, Kietas, Vyras))]
tevas:  (7, Rimtas, Vaikis)
vaikai:
[(9, Gudrus, Vaikis, (7, Rimtas, Vaikis))]
tevas:  (8, Kietas, Vyras)
vaikai:
[(11, Sustras, Vyras, (8, Kietas, Vyras))]
tevas:  (9, Rimtas, Vaikis)
vaikai:
[(12, Gudrus, Vaikis, (9, Rimtas, Vaikis)),
 (13, Smagi, Vaikyte, (9, Rimtas, Vaikis))]

In [28]:
tevas.vaikai[0].vardas

'Gudrus'

In [29]:
tevas.vaikai[1].pavarde

'Vaikyte'

In [30]:
tevas.vaikai[1].vardas = "Gudri"
tevas.vaikai

[(12, Gudrus, Vaikis, (9, Rimtas, Vaikis)), (13, Gudri, Vaikyte, (9, Rimtas, Vaikis))]

In [31]:
pamestinukas = tevas.vaikai.pop()
pamestinukas

(13, Gudri, Vaikyte, None)

In [32]:
vaikai = session.query(Vaikas).all()
vaikai

[(9, Gudrus, Vaikis, (7, Rimtas, Vaikis)), (10, Smagi, Vaikyte, (1, Kietas, Vyras)), (11, Sustras, Vyras, (8, Kietas, Vyras)), (12, Gudrus, Vaikis, (9, Rimtas, Vaikis)), (13, Gudri, Vaikyte, None)]

In [34]:
tevas.vaikai.remove(vaikai[9])
tevas

IndexError: list index out of range

In [35]:
pprint(tevas.vaikai)

[(12, Gudrus, Vaikis, (9, Rimtas, Vaikis))]

In [36]:
tevas.vaikai.append(vaikai[1])
tevas.vaikai.append(vaikai[2])

In [7]:
from crud import update_object, delete_object

In [8]:
delete_object(Vaikas, 12)

True

In [9]:
rimtesnis = update_object(Tevas, 7, vardas="Rimtesnis")
rimtesnis

(7, Rimtesnis, Vaikis)

In [10]:
vaikai = session.query(Vaikas).all()
vaikai

[(9, Gudrus, Vaikis, (7, Rimtesnis, Vaikis)),
 (10, Smagi, Vaikyte, (1, Kietas, Vyras)),
 (11, Sustras, Vyras, (8, Kietas, Vyras)),
 (13, Smagi, Vaikyte, (9, Rimtas, Vaikis))]

In [11]:
tevai = session.query(Tevas).all()
tevai

[(1, Kietas, Vyras),
 (7, Rimtesnis, Vaikis),
 (8, Kietas, Vyras),
 (9, Rimtas, Vaikis)]