In [9]:
from sqlalchemy.orm import sessionmaker
from models_m2m import engine, Tevas, Vaikas
from pprint import pprint

session = sessionmaker(engine)()

In [3]:
tevas = Tevas(vardas="Romas", pavarde="Zymonas")
mama = Tevas(vardas="Rima", pavarde="Zymoniene")
dukra = Vaikas(vardas="Justina", pavarde="Zymonaite")
sunus = Vaikas(vardas="Vaidas", pavarde="Zymonas")
anukas = Vaikas(vardas="Benediktas", pavarde="Zymonas")

tevas.vaikai.append(dukra)
tevas.vaikai.append(sunus)
mama.vaikai.append(sunus)

session.add(tevas)
session.add(mama)
session.commit()

In [6]:
session.add(anukas)
session.commit()

In [14]:
tevai = session.query(Tevas).all()
pprint(tevai)
vaikai = session.query(Vaikas).all()
pprint(vaikai)

[(1, Romas, Zymonas), (2, Rima, Zymoniene)]
[(1, Justina, Zymonaite), (2, Vaidas, Zymonas), (3, Benediktas, Zymonas)]

In [15]:
for tevas in tevai:
    print(tevas)
    for vaikas in tevas.vaikai:
        print("-", vaikas)

(1, Romas, Zymonas)
- (1, Justina, Zymonaite)
- (2, Vaidas, Zymonas)
- (3, Benediktas, Zymonas)
(2, Rima, Zymoniene)
- (2, Vaidas, Zymonas)
- (3, Benediktas, Zymonas)
- (1, Justina, Zymonaite)

In [10]:
tevas = session.query(Tevas).get(1)
mama = session.query(Tevas).get(2)
dukra = session.query(Vaikas).get(1)
sunus = session.query(Vaikas).get(2)
anukas = session.query(Vaikas).get(3)

In [12]:
anukas.tevai.append(tevas)
anukas.tevai.append(mama)
dukra.tevai.append(mama)
session.commit()

In [16]:
for vaikas in vaikai:
    print(vaikas)
    for tevas in vaikas.tevai:
        print("-", tevas)

(1, Justina, Zymonaite)
- (1, Romas, Zymonas)
- (2, Rima, Zymoniene)
(2, Vaidas, Zymonas)
- (1, Romas, Zymonas)
- (2, Rima, Zymoniene)
(3, Benediktas, Zymonas)
- (1, Romas, Zymonas)
- (2, Rima, Zymoniene)